@model WebUI.Models.ProductEditViewModel

@{
    ViewBag.Title = "Админпанель: редактирование товара";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование товара "@Model.Product.Name"</h3>
    </div>

    @using (Html.BeginForm("Edit", "Admin",
    FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Product.ProductId)
            @Html.ValidationSummary()

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    @Html.LabelFor(modelItem => Model.Product.Name)
                    @Html.TextBoxFor(m => m.Product.Name, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(modelItem => Model.Product.Manufacturer)
                    @Html.TextBoxFor(m => m.Product.Manufacturer, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(modelItem => Model.Product.Description)
                    @Html.TextAreaFor(m => m.Product.Description, new { @class = "form-control", rows = 5 })
                </div>

                <div class="form-group">
                    <label>Категория: </label>
                    @Html.DropDownListFor(m => m.Category.CategoryId, new SelectList(Model.Categories, "CategoryId", "Name"))
                </div>

                <div class="form-group">
                    @Html.LabelFor(modelItem => Model.Product.Price)
                    @Html.TextBoxFor(m => m.Product.Price, new { @class = "form-control" })
                </div>

                @*//Блок отображения картинок*@
                <div class="form-group">
                    <label>Картинки</label>
                    
                    @if (Model.Images != null)
                    {
                        <div style="display: inline-block">
                            @foreach (var image in Model.Images)
                            {
                                <div  style="margin-right: 10px; float: left;">
                                    <img style="max-width: 150px; max-height: 150px; display: block;" class="img-thumbnail"
                                         src="@image.Path"/>
                                    @Ajax.ActionLink("Удалить", "RemoveImage", "Admin", new { imageId = image.ID }, new AjaxOptions{ HttpMethod = "POST" })
                                </div>
                            }
                        </div>
                    }
                    
                    
                    
                    
                    

                    @*@if (Model.Images == null || Model.Images.Count() == 0)
                    {
                        <div class="form-control-static">Нет картинки</div>
                    }
                    else
                    {
                        foreach (var image in Model.Images)
                        {
                            <div class="form-group">
                                <img class="img-thumbnail" width="150" height="150"
                                     src="@image.Path" />
                                @Html.ActionLink("Удалить", "Index", null, new { @class = "btn btn-default" })
                            </div>
                        }
                    }*@
                    @*<img class="img-thumbnail" width="120" height="120"
                         src="@Url.Action("GetImage", "Products",
                    new { Model.ProductId })" />

                    @{
                        string imagePath = Url.Action("GetImage", "Products",
                                            new { Model.ProductId });
                        if (imagePath == null)
                        {
                            <div class="form-control-static">Нет картинки</div>
                        }
                        else
                        {
                            <div class="form-group">
                                <img class="img-thumbnail" width="150" height="150"
                                     src="@imagePath" />
                                @Html.ActionLink("Удалить", "Index", null, new { @class = "btn btn-default" })
                            </div>
                        }

                    }*@

                    <div style="position:relative;">
                        <label>Добавить картинку</label>
                        <input type="file" name="image" class="btn btn-default">
                        <span class='label label-info' id="upload-file-info"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary"/>
            @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-default"})
        </div>
    }
</div>