@using WebUI.Models
@model ProductSmallViewModel

<div class="well col-sm-3 col-xs-12" style="min-width: 250px; max-height: 190px; margin-right: 10px">
    <div class="row">
        
        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <div class="pull-left" style="margin-right: 10px; max-height: 50px">
                <img style="max-width: 80px; max-height: 80px;"
                     src="@Model.ImagePath"/>
            </div>
        }

        <div>
            <h5>
                @Html.ActionLink(Model.Product.Name, "GetProduct", new {productId = Model.Product.ProductId, returnUrl = Request.Url.PathAndQuery})
            </h5>
        </div>
        <div>
            <div class="col-sm-6 col-xs-6" style="margin-top: -10px">
                <h3>
                    <strong id="price" class="pull-right label label-primary">
                        @Model.Product.Price.ToString("# грн")
                    </strong>
                </h3>
            </div>
            <div class="col-sm-6 col-xs-6" style="margin-top: 7px">
                @using (Html.BeginForm("AddToCart", "Cart"))
                {
                    <div class="pull-right">
                        @Html.HiddenFor(x => x.Product.ProductId)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success" value="В корзину"/>
                    </div>
                }
            </div>
        </div>
    </div>
</div>